
# Node.js dependencies
node_modules/

# Build output
dist/
build/
models/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp


models/