.rotate-model {
    &-active {
        border: 1px solid #fff;
    }

    &-360 {
        cursor: pointer;
        position: absolute;
        bottom: 90px;
        left: 47px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: $grey-500;
        @include flex(flex, null, center, center);

    }
}