.radius-0{
    border-radius: 0;
  }
  .radius-10{
    border-radius: 10px;
  }
  .radius-50{
    border-radius: 50px;
  }
  .radius-100{
    border-radius: 53px;
  }
  .radius-200{
    border-radius: 55px;
  }
  .radius-300{
    border-radius: 77px;
  }
  .radius-300{
    border-radius: 77px;
  }
  