//variables
$white-base:#fff;   
// Grey
$grey-50:rgba(#333333,0.5);
$grey-100:#CBCBCB;
$grey-200:#A0A0A0;
$grey-300:#4C4C4C;
$grey-400:#222222;
$grey-500:#333333;
$grey-600:#EEEEEE;

//green
$green-50:#B1FF31;
$green-100:#ecffce;

//black
$black-100:#000;






